.btn-primary {
    height: 4rem; width: 18vh;
    background:linear-gradient(90deg, #ff5f79ff, #ab4ff6ff);
    border-radius: 10vh;
    box-shadow: rgba(255, 255, 255, 0.671) 0 0 10px;
    font-size: 1.5rem;
    transition: ease-in-out 0.2s;
    border: none;
    color: white;
    text-align: center;
    display: flex; justify-content: center; align-items: center;
}

.btn-primary:hover {
    scale: 1.04;
    box-shadow: pink 0 0 12px;
    background:linear-gradient(90deg, rgb(255, 109, 133), rgb(187, 107, 253));

}