.WorriesSection {
    height: 100%; width: 100%;
    flex-direction: row; display: flex; 
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.c-titles {
    width: 40%;
    height: 100%; 
    text-align: start;
    margin-left: 10rem;
}

.c-titles h1 {
    font-size: 6rem;
    font-weight: 200;
    text-align: start;
}

.c-titles span {
    font-style: oblique;
    font-weight: 400;
    font-size: 7rem;
}

.phones {
    height: 100%; width: 40%;
    /* background-color: rgba(13, 115, 231, 0.575); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.phones img {
    height: 75%; width: auto;
}

/* ----------------------------------------------------------- */
@media (max-width: 599px) {
    .WorriesSection {
        flex-direction: column;
    }

    .c-titles {
        margin: 0;
        width: 80%;
    }
    .c-titles h1 {
        font-size: 4rem;
        text-align: center;
        line-height: 5rem;
    }

    .c-titles span {
        font-size: 4rem;
        text-align: center;
        line-height: 10rem;
    }

    .phones img {height: 20rem;}
}

@media (min-width: 600px) and (max-width: 1023px) {
    .confused-section {
        flex-direction: column;
    }

    .c-titles {
        margin: 0;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .c-titles h1 {
        font-size: 5rem;
        text-align: center;
        line-height: 7rem;
    }

    .c-titles span {
        font-size: 6rem;
        text-align: center;
        line-height: 7rem;
    }
    
    .phones img {height: 20rem;}
    
}
 
@media (min-width: 1000px) and (max-width: 1423px) {}