

.ProfileView {
    min-height: 100vh; width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.go-home {
    height: 5rem; width: 5rem;
    border-radius: 50%;
    position:fixed;
    top: 37%;
    left: 47.3%;
    z-index: 100;
    transition: ease-in-out 0.2s;
}

.go-home:hover {
    scale: 1.05;
    cursor: pointer;
}

.go-home:hover ~ .home-banner {
    visibility: visible;
    transform: translateX(4.7rem);
    opacity: 1;
}

.home-banner {
    position: absolute;
    background-color: rgba(2, 4, 36, 0.7);
    box-shadow: rgba(255, 255, 255, 0.445) 0 0 8px;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    padding: 0 1rem;
    width: 5rem;
    height: 2rem;
    font-weight: 600;
    z-index: 90;
    visibility: hidden;
    /* top: 1.2rem;
    left: 1.2rem; */
    top: 37.3%;
    left: 47.5%;
    transition: ease-in-out 0.35s;
    opacity: 0;
}

.go-home img {
    height: 70%;
    width: auto;
}

/* =============== GENERAL VIEW FOR ELEMENTSS ============= */

.user-info, .user-tip, .user-weekly, .monthly-record, .user-emotion, .daily-emotions {
    border-radius: 6vh;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid gray;
    box-shadow: rgba(255, 255, 255, 0.177) 0 0 12px;
}

/* =================== LEFT PROFILE SECTION =============== */

.left-p-section {
    height: 95%; width: 95%;
    display: grid; 
    grid-template-rows: 40% 30% 30%;
    justify-items: center;
    align-items: center;
    /* background: rgba(255, 21, 239, 0.237); */
    margin: auto;
}

.user-info, .user-tip, .user-weekly {
    height: 90%; width: 90%;
    /* background-color: rgba(0, 255, 242, 0.268); */
}

.user-info {
    display: grid;
    grid-template-columns: 35% 65%;
    justify-items: center;
    align-items: center;
    position: relative;
}

.user-info h1, .user-info h3 {
    font-weight: 600;
}

.user-info h1 {font-size: 2.5rem;}

.p-img {
    height: 10rem; width: 10rem;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.607);
    overflow: hidden;
}

.p-img img {
    height: 100%; width: 100%;
}

.p-settings {
    position: absolute;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.607);
    bottom: 10%;
    left: 85%;
    transition: ease-in-out 0.2s;
    z-index: 1;
}

.p-settings:hover {
    scale: 1.08;
    background-color: rgba(6, 5, 5, 0.807);
    box-shadow: rgba(64, 64, 64, 0.856) 0 0 8px;
    cursor: pointer;
}



.p-settings img {
    height: 50%; width: 50%;
}

.settings-container {
    position: absolute;
    height: 3rem;
    width: 150px;
    background-color: rgba(12, 12, 12, 0.4);
    bottom: 10%;
    left: 71%; /* Igual que el botón */
    z-index: 0;
    border-radius: 5vh;
    display: flex;
    align-items: center;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: right center; /* <- Hace que se expanda desde la derecha */
    transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s;
}


.edit-profile, .open-logout {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: rgba(219, 219, 219, 0.856);
    margin-left: 5px;
    transition: ease-in-out 0.2s;
}

.edit-profile img, .open-logout img {
    height: 55%; width: auto;
    filter: invert(0.2);
    transition: ease-in-out 0.2s;
}

.edit-profile img:hover, .open-logout img:hover {
    filter: invert(0);
}


.p-settings:hover ~ .settings-container,
.settings-container:hover {
    visibility: visible;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out, visibility 0s;
}


.settings-container:hover ~ .p-settings {
    background-color: rgba(6, 5, 5, 0.807);
}

.edit-profile:hover, .open-logout:hover {
    scale: 1.04;
    background-color: rgba(224, 224, 224, 1);
    cursor: pointer;
}

.open-logout {
    margin-left: 10px;
}



/*--------------------- user tip ----------------- */

.user-tip {
    height: 75%;
    display: grid;
    grid-template-columns: 28% 3% 1fr 15%;
    justify-items: center;
    align-items: center;
}

.emotion-container {
    height: 15vh; width: 15vh;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.3);
    position: relative;
    z-index: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.25s;
}

.emotion-container::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: linear-gradient(#ff6234ff, #ab4ff6ff) border-box;
  
  padding: 15%; /* borde de 5% del tamaño total */
  -webkit-mask: 
    radial-gradient(farthest-side, transparent calc(100% - 15%), white 100%);
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
}

.emotion-container img {
    height: 75%; width: 75%;
    
}

.v-line {
    height: 70%; width: 2px;
    background-color: rgb(208, 208, 208);
    border-radius: 1vh;
}

.h-line {
    height: 2px; width: 75%;
    background-color: rgb(208, 208, 208);
    border-radius: 5vh;
}

.tip-text-zone {
    height: 100%; width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.arrows-container {
    height: 90%; width: 90%;
    margin: auto;
    flex-direction: column;
}

.up-arrow {transform: rotate(180deg);}

.down-arrow {}

.up-arrow, .down-arrow {
    height: 30%; width: auto;
    transition: ease-in-out 0.2s;
}

.up-arrow:hover, .down-arrow:hover {
    scale: 1.15;
    filter: drop-shadow(white 0 0 2px);
    cursor: pointer;
}
.user-weekly {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
}

.weekly-emotion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out 0.2s;
}

.weekly-emotion:hover {
    scale: 1.25;
    filter: drop-shadow(rgba(255, 255, 255, 0.3) 0 0 8px);
}

.weekly-emotion .emotion-container {
    height: 4rem; width: 4rem;
    border-radius: 50%;
}

.weekly-emotion h3 {
    margin: 1rem 0 0 0;
}



/* =================== RIGHT PROFILE SECTION =============== */

.right-p-section {
    height: 95%; width: 95%;
    display: grid; 
    grid-template-rows: 40% 60%;
    justify-items: center;
    align-items: center;
    /* background: rgba(255, 21, 239, 0.237); */
    margin: auto;
}

.tracking-section {
    height: 95%; width: 95%;
    display: flex;
    justify-content: space-between; align-items: center;
    /* background-color: rgba(255, 32, 32, 0.242); */
}

.K {
    height: 100%; width: 72%;
    justify-content: space-between;
}

.monthly-record {
    height: 95%; width: 45%;
    display: grid;
    justify-items: center; align-items: center;
    grid-template-rows: 15% 10% 2% auto 2% 12%;
    /* background-color: rgba(0, 255, 242, 0.268); */
}

.tracked-empty {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    height: 100%; width: 100%;
}

.every-day {
    display: grid;
    height: 100%;
    width: 80%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
}

.every-day .active-circle-day, .every-day .empty-circle-day {
    height: 18px; width: 18px;
    transition: ease-in-out 0.2s;
}
.every-day .active-circle-day:hover, .every-day .empty-circle-day:hover {
    scale: 1.2;
}

.active-circle-day {
    height: 10px; width: 10px;
    border-radius: 50%;
    background: linear-gradient(210deg, #ff5f79ff, #ff5f79ff, #d20972ff, #d400ff);
}

.empty-circle-day {
    height: 10px; width: 10px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(109, 109, 109), rgb(227, 227, 227));
}

.user-emotion {
    height: 95%; width: 45%;
    /* background-color: rgba(0, 255, 242, 0.268); */
    display: grid;
    grid-template-rows: 20% auto 20%;
    align-items: center;
    justify-items: center;
}

.user-emotion h2 {
    font-weight: 400;
}

.daily-emotions {
    height: 85%; width: 95%;
    position: relative;
    /* background-color: rgba(0, 255, 242, 0.268); */
}

.v-line-d {
    height: 65%;
    width: 2px;
    border-radius: 1vh;
    background-color: white;
    position: absolute;
    top: 8%;
    left: 8%;
}

.h-line-d {
    height: 2px;
    width: 85%;
    border-radius: 1vh;
    background-color: white;
    position: absolute;
    top: calc(8% + 65%);
    left: 8%;
}

.d-emtions-container {
    display: flex;
    margin: auto;
    height: 20%;
    width: 88%;
    margin-top: 0px;
    align-items: center;
    justify-content: space-around;
}

/* 
<div className="d-progress-bars">
    <div className="happy-bar"></div>
    <div className="scared-bar"></div>
    <div className="angry-bar"></div>
    <div className="surprised-bar"></div>
    <div className="sad-bar"></div>
</div>
*/

.d-progress-bars {
    display: flex;
    margin: auto;
    height: 65%;
    width: 75%;
    margin-top: 35px;
    align-items: end;
    justify-content: space-between;
}

.happy-bar, .fear-bar, .angry-bar, .surprised-bar, .sad-bar, .neutral-bar, .disgusted-bar {
    width: 3rem;
    height: 50%;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    background-color: white;
    z-index: 0;
}

.happy-bar {background-color: rgba(255, 255, 113, 0.878);}
.fear-bar {background-color: rgba(148, 74, 148, 0.93);;}
.angry-bar {background-color: rgba(239, 38, 38, 0.909);}
.surprised-bar {background-color: rgb(255, 152, 26);}
.sad-bar {background-color: rgba(77, 149, 242, 0.942);}
.neutral-bar {background-color: rgba(128, 128, 128, 0.7);}
.disgusted-bar {background-color: rgba(85, 107, 47, 0.8);}

.hd1, .hd2, .hd3, .hd4 {
    background-color: rgba(255, 255, 255, 0.255);
}

.hd1 {top: calc(8% + 52%);}
.hd2 {top: calc(8% + 38%);}
.hd3 {top: calc(8% + 25%);}
.hd4 {top: calc(8% + 13%);}

/* SUPER HOVER OF ELEMENTS */

.user-info, .user-tip, .user-weekly, .monthly-record, .user-emotion, .daily-emotions {
    transition: ease-in-out 0.2s;
}

.user-info:hover, .user-tip:hover, .user-weekly:hover, .monthly-record:hover, .user-emotion:hover, .daily-emotions:hover {
    border: solid 2px rgba(255, 255, 255, 0.737);
}

/*  VENTANA MODAL DE EDICION DEL PERFIL */

.modal-settings-background {
    position: fixed;
    height: 100vh; width: 100vw;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
    transition: ease-in-out 0.2s;
    z-index: 100;
}

.modal-settings {
    height: 80vh;
    width: 50vw;
    border-radius: 5vh;
    background-color: rgba(13, 13, 13, 0.8);
    border: solid 1px rgba(186, 186, 186, 0.5);
    color: white;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.edit-profile-form {
    height: 50rem;
    width: 95%;
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.e-p-entry {
    position: initial;
    width: 90%;
}

/* .input-margin1 {margin-top: 2rem;}
.input-margin2 {margin-top: 10rem;}
.input-margin3 {margin-top: 18rem;} */

.input-margin1, .input-margin2, .input-margin3 {width: 100%; position: relative;}

.labelLineDef {transform: translateY(-90px);}

.input-edit:focus + .labelLine ,
.input-edit:valid + .labelLine {
    color: #d20972;
    height: 30px;
    line-height: 30px;
    transform: translate(0, -80px) scale(0.68);
    /* transform: translate(110px, -40px) scale(0.88); */
    z-index: 1111;
}

.edit-desc-prompt {
    height: 25%;
    margin: 0 auto;
}

.save-edit-changes {
}

.buttons-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.logout {
    color: #ff339c;
    font-weight: 500;
    font-size: 1.2rem;
    filter: drop-shadow(#ff65b5 0 0 4px);
}

.logout:hover {
    color: rgb(255, 0, 0);
    filter: drop-shadow(#ff7a7a 0 0 4px);
    cursor: pointer;
}

.modal-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6vh;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 32px;
    height: 50vh;
    width: 40vw;
    z-index: 1000;
    background: linear-gradient(120deg, black, rgb(95, 2, 95, 0.7));
}

.modal-logout p {
    font-size: 1.2rem;
}

.logout-btn {
    border-radius: 10vh;
    box-shadow: rgb(234, 234, 234, 0.4) 0 0 10px;
    background: linear-gradient(120deg, rgb(117, 0, 0), rgb(231, 0, 0));
    color: white;
    transition: ease-in-out 0.2s;
    margin-top: 3rem;
}

.logout-btn:hover {
    cursor:pointer;
    scale: 1.07;
    background: linear-gradient(120deg, rgb(77, 0, 0), rgb(147, 0, 0));
    color: white;
    border: none;
}

@media (max-width: 599px) {
    .ProfileView {
        min-height: 200vh;
        width: 100vw;
    }
    .weekly-emotion .emotion-container {
        height: 3rem;
        width: 3rem;
    }

    .user-info {
        width: 90%;
    }

    .left-p-section {
        width: 100vw;
        margin: 0;
    }

    .right-p-section {
        width: 100vw;
        margin: 0;
    }

    .user-emotion, .monthly-record {
        border-radius: 4vh;
    }

    .tracked-empty {
        scale: 0.8;
    }
    
    .every-day .active-circle-day, .every-day .empty-circle-day {
        height: 10px; width: 10px;
    }

    .p-img {
        height: 5rem; width: 5rem;
    }

    .p-info h1 {
        font-size: 1.5rem;
    }

    .settings-container {
        position: absolute;
        height: 3rem;
        width: 150px;
        background-color: rgba(12, 12, 12, 0.4);
        bottom: 10%;
        left: 55%; /* Igual que el botón */
        z-index: 0;
        border-radius: 5vh;
        display: flex;
        align-items: center;
        visibility: hidden;
        transform: scaleX(0);
        transform-origin: right center; /* <- Hace que se expanda desde la derecha */
        transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s;
    }

    .go-home {
        top: 1rem;
        left: 1rem;
    }

    .modal-logout {
        width: 80vw;
    }

    .modal-logout h1 {
        font-size: 1rem;
    }

    .modal-logout p {
        font-size: 0.9rem;
        padding: 1rem;
    }

    .modal-settings {
        width: 80vw;
    }

    .modal-settings h1 {
        font-size: 1.5rem;
    }

    .input-margin1, .input-margin2, .input-margin3 {
        width: 230px;
    }

    .edit-profile-form {
        height: 30rem;
    }

    .edit-desc-prompt {
        width: 80%;
        font-size: 0.8rem;
    }

    .save-edit-changes {
        scale: 0.7;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    .ProfileView {
    min-height: 200vh;
}
}